.work-main {
    .c-list1__box {
        display: none;
    }

    .c-list1__time {
        display: none;
    }

    .c-list1__image {
        margin-bottom: 13px;
    }

    .c-list1__item {
        margin-bottom: 51px;
    }
}

.work {
    .c-pagetitle__ttl {
        padding: 58px 0 44px;
    }
}
