/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-txt__lato20b {
    font-family: $lato-font;
    font-size: 2rem;
    font-weight: 700;
}

.c-txt__san13 {
    font-family: $san-font;
    font-size: 1.3rem;
    font-weight: 400;
}

.c-txt__san14 {
    font-family: $san-font;
    font-size: 1.4rem;
    font-weight: 400;
}

.c-txt__san14b {
    font-family: $san-font;
    font-size: 1.4rem;
    font-weight: 700;
}

.c-txt__san15 {
    font-family: $san-font;
    font-size: 1.5rem;
    font-weight: 400;
}

.c-txt__san16 {
    font-family: $san-font;
    font-size: 1.6rem;
    font-weight: 400;
}

.c-txt__san16b {
    font-family: $san-font;
    font-size: 1.6rem;
    font-weight: 700;
}

.c-txt__san20 {
    font-family: $san-font;
    font-size: 2rem;
    font-weight: 400;
}


.c-txt__ac12 {
    font-family: $acumin-font;
    font-size: 1.2rem;
    font-weight: 400;
}

.c-txt__ac13 {
    font-family: $acumin-font;
    font-size: 1.3rem;
    font-weight: 400;
}

.c-txt__ac14 {
    font-family: $acumin-font;
    font-size: 1.4rem;
    font-weight: 400;
}

.c-txt__ac15 {
    font-family: $acumin-font;
    font-size: 1.5rem;
    font-weight: 400;
}

.c-txt__ac16 {
    font-family: $acumin-font;
    font-size: 1.6rem;
    font-weight: 400;
}

.c-txt__ac16b {
    font-family: $acumin-font;
    font-size: 1.6rem;
    font-weight: 700;
}

.c-txt__ac32 {
    font-family: $acumin-font;
    font-size: 3.2rem;
    font-weight: 400;
}

.c-txt__ac50 {
    font-family: $acumin-font;
    font-size: 5rem;
    font-weight: 400;
}
