//baseWidth
$base-width: 1200px;

$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$san-font: "noto-sans-cjk-jp", sans-serif;
$acumin-font: "acumin-pro", sans-serif;
$lato-font: "Lato", sans-serif;

//color common

$color--15171b: #15171b;
$color--f1f3f8: #f1f3f8;
$color--043b8e: #043b8e;
$color--fff: #fff;
$color--ccc: #ccc;
$color--999: #999;
$color--333: #333;
$color--ddd: #ddd;
$color--aaa: #aaa;
$color--dc3175: #dc3175;
$color--ff6c00: #ff6c00;
$color--d7dbe3: #d7dbe3;
$color--090909: #090909;
$color--c2c8d4: #c2c8d4;
