<%- include('_layouts/layout', { title: 'Policy page' }); -%>
    
    <!-- @content -->
    <main class="policy">
        <%- include('_partials/pagetitle', {
            title: policy.title, subtitle: policy.subtitle
        }); -%>
        <section class="policy-main l-container l-container--w1000">
           <h2 class="policy-main__ttl">個人情報の保護に関する基本方針</h2>
           <p class="policy-main__desc">
            有限会社AT HOME（以下、当社といいます。）は、お客様の個人情報の適切な取扱いおよび保護が、当社にとって社会的責務であると考えております。<br>
            当社は、当社が取得する個人情報を、この個人情報の保護に関する基本方針（以下、「本基本方針」といいます。）に基づき、適切に取扱い、<br>
            保護に努めます。
            </p>
            <div class="policy-main__rule">
                <div class="policy-main__item">
                    <h2 class="policy-main__ttl">１．当社の名称・住所・代表者の氏名</h2>
                    <p class="policy-main__desc">有限会社AT HOME<br>〒448-0005<br>愛知県刈谷市今川町蓮池33番地5<br>代表者　藤井 厚年</p>
                </div>
                <div class="policy-main__item">
                    <h2 class="policy-main__ttl">２.個人情報の取得</h2>
                    <p class="policy-main__desc">当社は、お客様ご本人の個人情報について、利用目的の達成に必要な範囲内で適法かつ適正な手段により取得します。</p>
                </div>
                <div class="policy-main__item">
                    <h2 class="policy-main__ttl">３．個人情報の利用目的</h2>
                    <ol>
                        <li>
                            <p class="policy-main__desc">（１）取得した個人情報について次の利用目的の達成に必要な範囲内で利用します。</p>
                            <ol>
                                <li><p class="policy-main__txt">お客様に対し、当社が取り扱う住宅関連商品等や当社のサービスを供給、販売するため。</p></li>
                                <li><p class="policy-main__txt">お客様ご本人から請求された当社商品や当社のサービスに関連する資料、カタログをお届けするため。</p></li>
                                <li><p class="policy-main__txt">お客様に対して、当社商品や当社のサービスに関して、プランを提案するため。</p></li>
                                <li><p class="policy-main__txt">お客様ご本人に対してダイレクトメール、電子メール等による情報（当社商品や当社のサービスに関連するメールマガジンなど）をご提供するため。</p></li>
                                <li><p class="policy-main__txt">キャンペーン等のお知らせをお客様にお届けするため。</p></li>
                                <li><p class="policy-main__txt">お客様ご本人のご承認の下に、当社のお取引先に紹介させていただくため。</p></li>
                                <li><p class="policy-main__txt">当社商品や当社のサービスについてお客様の利用状況や満足度を調査するため。</p></li>
                                <li><p class="policy-main__txt">当社もしくは当社商品や当社のサービスに関連してお客様ご本人から寄せられたご意見、ご要望にお応えするため。</p></li>
                                <li><p class="policy-main__txt">当社商品のアフターサービス、メンテナンス等を提供・実施するため。</p></li>
                                <li><p class="policy-main__txt">GoogleやYahoo!等の広告配信事業者を利用した行動ターゲティング広告の配信</p></li>
                                <li><p class="policy-main__txt">お客様の趣味・嗜好等の把握のために当社が取得した属性情報・行動履歴等の分析</p></li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
    </main>
    <!-- @@content -->