<footer class="c-footer">
  <section class="c-newsleter">
    <div class="l-container">
      <ul class="c-listnewsleter">
        <li class="c-itemnewsleter">
          <a href="#">
            <h2 class="c-itemnewsleter__ttl c-ttl__ac40">
              Contact
            </h2>
            <p class="c-itemnewsleter__txt c-txt__san13">
              お問い合わせ・資料請求は<span class="c-itemnewsleter__txt--underline">こちら</span>から
            </p>
          </a>
        </li>
        <li class="c-itemnewsleter">
          <a href="#">
            <h2 class="c-itemnewsleter__ttl c-ttl__ac40">
              EVENT
            </h2>
            <p class="c-itemnewsleter__txt c-txt__san13">
              各種イベントは<span class="c-itemnewsleter__txt--underline">こちら</span>から
            </p>
          </a>
        </li>
        <li class="c-itemnewsleter">
          <a href="#">
            <h2 class="c-itemnewsleter__ttl c-ttl__ac40">
              0566-45-6070
            </h2>
            <p class="c-itemnewsleter__txt c-txt__san13">
              受付時間：9:00 ~ 18:00（水曜日・祝日は休み）
            </p>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="c-footercenter">
    <div class="c-footercenter__logo">
      <a href="#">
      <picture>
        <img src="./assets/img/footer/logo.png" alt="Leap House">
      </picture>
    </a>
    </div>
    <p class="c-footercenter__address c-txt__san13">
      有限会社ATホーム<br>
      〒448-0005 愛知県刈谷市今川町蓮池33番地5
    </p>
    <ul class="c-footercenter__list c-txt__ac14">
      <li class="c-footercenter__item">
        <a href="#" class="c-footercenter__link">ABOUT</a>
      </li>
      <li class="c-footercenter__item">
        <a href="#" class="c-footercenter__link">LINEUP</a>
      </li>
      <li class="c-footercenter__item">
        <a href="#" class="c-footercenter__link">EVENT</a>
      </li>
      <li class="c-footercenter__item">
        <a href="#" class="c-footercenter__link">WORKS</a>
      </li>
      <li class="c-footercenter__item">
        <a href="#" class="c-footercenter__link">LIBRARY</a>
      </li>
      <li class="c-footercenter__item">
        <a href="#" class="c-footercenter__link">REAL ESTATE</a>
      </li>
      <li class="c-footercenter__item">
        <a href="#" class="c-footercenter__link">COLUMN</a>
      </li>
      <li class="c-footercenter__item">
        <a href="#" class="c-footercenter__link">COMPANY</a>
      </li>
    </ul>
  </section>
  <div class="c-footerbottom c-txt__ac12">
    <div class="l-container">
      <div class="c-footerbottom__grouped">
        <a href="#" class="c-footerbottom__policy">
          <span>privacy policy</span>
        </a>
        <p class="c-footerbottom__copyright">
          Copyright AT HOME.
        </p>
      </div>
    </div>
  </div>

</footer>