<header class="c-header">
  <div class="c-header__main">
  <h1 class="c-header__logo">
    <a href="<%= BASE_URL %>index.html">
      <img src="./assets/img/header/logo-header.png" alt="Logo" class="c-header__logoimg">
      <img src="./assets/img/header/logo-header-sticky.png" alt="Logo" class="c-header__logosticky">
    </a>
  </h1>
  <div class="c-header__body">
    <nav class="c-gnav">
      <ul class="c-nav__list">
        <li class="c-nav__item">
          <a class="c-nav__link c-txt__ac15" href="/about.html">ABOUT</a>
        </li>
        <li class="c-nav__item">
          <a class="c-nav__link c-txt__ac15" href="/lineup.html">LINEUP</a>
        </li>
        <li class="c-nav__item">
          <a class="c-nav__link c-txt__ac15" href="/event.html">EVENT</a>
        </li>
        <li class="c-nav__item">
          <a class="c-nav__link c-txt__ac15" href="/works.html">WORKS</a>
        </li>
        <li class="c-nav__item">
          <a class="c-nav__link c-txt__ac15" href="/model-house.html">MODEL HOUSE</a>
        </li>
        <li class="c-nav__item">
          <a class="c-nav__link c-txt__ac15" href="/library.html">LIBRARY</a>
        </li>
      </ul>
    </nav>
    <div class="c-toggle">
      <div class="c-toggle__inner">
				<span class="c-toggle__line"></span>
				<span class="c-toggle__line"></span>
				<span class="c-toggle__line"></span>
			</div>
    </div>
  </div>
</div>
<div class="c-header__menu">
  <div class="l-container__w1000">
  <div class="c-header__menulistwrapper">
    <ul class="c-header__menulist">
      <li class="c-header__menuitem">
        <a class="c-header__menulink" href="#"> About </a>
        <div class="c-header__menumore tab-only is-acitve"></div>
        <ul class="c-header__menulistchild">
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> POINT </a>
          </li>
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> FLOW </a>
          </li>
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> Q&amp;A </a>
          </li>
        </ul>
      </li>
      <li class="c-header__menuitem">
        <a class="c-header__menulink" href="/event.html"> Event </a>
      </li>
      <li class="c-header__menuitem">
        <a class="c-header__menulink" href="/works.html"> Works </a>
      </li>
      <li class="c-header__menuitem">
        <a class="c-header__menulink" href="#"> Library </a>
      </li>
    </ul>
    <ul class="c-header__menulist">
      <li class="c-header__menuitem">
        <a class="c-header__menulink" href="#"> Lineup </a>
        <div class="c-header__menumore tab-only is-acitve"></div>
        <ul class="c-header__menulistchild c-header__columncount">
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> ZERO-CUBE </a>
          </li>
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> ZERO-CUBE MINI </a>
          </li>
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> ZERO-CUBE STEPFLOOR </a>
          </li>
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> ZERO-CUBE KAI </a>
          </li>
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> HYVA AND STYLE </a>
          </li>
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> NORDIC HOUSE </a>
          </li>
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> Blanc Ange </a>
          </li>
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> WTW House Project </a>
          </li>
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> AM6 HOUSE </a>
          </li>
          <li class="c-header__menuitemchild">
            <a class="c-header__menulinkchild" href="#"> CALIFORNIA PROJECT </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="c-header__menulist">
      <li class="c-header__menuitem">
        <a class="c-header__menulink" href="/model-house.html"> MODEL HOUSE </a>
      </li>
      <li class="c-header__menuitem">
        <a class="c-header__menulink" href="/real-estate.html"> REAL ESTATE </a>
      </li>
      <li class="c-header__menuitem">
        <a class="c-header__menulink" href="#"> VOICE </a>
      </li>
      <li class="c-header__menuitem">
        <a class="c-header__menulink" href="#"> COLUMN </a>
      </li>
      <li class="c-header__menuitem">
        <a class="c-header__menulink" href="#"> COMPANY </a>
      </li>
      <li>
        <a class="c-header__contactbtn" href="#"> CONTACT </a>
      </li>
    </ul>
  </div>
</div>
</div>
</header>