<div class="c-library">
    <div class="c-library__one">
        <img class="c-library__img" src="../assets/img/modelhouse/modelhousedt-img2.jpg" alt="ウッドデッキ×土間のある家">
    </div>
    <div class="c-library__list">
        <div class="c-library__column">
            <img class="c-library__img" src="../assets/img/modelhouse/modelhousedt-img3.jpg" alt="ウッドデッキ×土間のある家">
            <img class="c-library__img" src="../assets/img/modelhouse/modelhousedt-img5.jpg" alt="ウッドデッキ×土間のある家">
            <img class="c-library__img" src="../assets/img/modelhouse/modelhousedt-img6.jpg" alt="ウッドデッキ×土間のある家">
        </div>
        <div class="c-library__column">
            <img class="c-library__img" src="../assets/img/modelhouse/modelhousedt-img4.jpg" alt="ウッドデッキ×土間のある家">
            <img class="c-library__img" src="../assets/img/modelhouse/modelhousedt-img7.jpg" alt="ウッドデッキ×土間のある家">
        </div>
    </div>
</div>