<div class="c-pagination c-txt__ac16b">
    <a href="#" class="c-pagination__link prev">PAST</a>
    <a href="#" class="c-pagination__number current">1</a>
    <a href="#" class="c-pagination__number">2</a>
    <a href="#" class="c-pagination__number">3</a>
    <a href="#" class="c-pagination__number">4</a>
    <a href="#" class="c-pagination__number">...</a>
    <a href="#" class="c-pagination__number">50</a>
    <a href="#" class="c-pagination__link next">NEXT</a>
</div>